<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">每日一图</h1><h6><a href="javascript:void(0);" id="dailyPicture">每日一图</a></h6>
    </div>
    <!-- /.col-lg-12 -->
</div>
<hr>
<div class="row">
    <div col-md-12>
        <div class="row" id="pictureList">

        </div>
        <div class="row">
            <div col-md-12 id="picturePaging">

            </div>
        </div>

    </div>
</div>
