<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" id="navBar">


    </nav>

    <div id="page-wrapper">


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->