<script type="text/template" id="translate-view">
    <div class="row">
        <div class="col-md-12" id="translateEnCh">
            <div class="panel panel-default">
                <div class="panel-heading">英语 to 中文</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="englishInpt">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id="chineseShow" class="form-control" rows="5">

                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>