<li>
    <a href="#">
        <div>
            <i class="fa fa-comment fa-fw"></i> New Comment
            <span class="pull-right text-muted small">4 minutes ago</span>
        </div>
    </a>
</li>
<%if(needDivider){%>
<li class="divider"></li>
<%}%>