<li>
    <a href="#">
        <div>
            <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em><%=timeStr%></em>
                                    </span>
        </div>
        <div><%=msg%></div>
    </a>
</li>
<%if(needDivider){%>
<li class="divider"></li>
<%}%>